Repository kusmin/gestao_updev: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-gofmt, frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:

      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: backend-gofmt
        name: gofmt (backend)
        entry: gofmt
        language: system
        files: ^backend/.*\.go$
        args: ['-w']



      - id: frontend-format
        name: format (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'format']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: frontend-format-check
        name: format:check (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'format:check']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: frontend-eslint
        name: eslint (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'lint']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: backoffice-format
        name: format (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'format']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: backoffice-format-check
        name: format:check (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'format:check']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: backoffice-eslint
        name: eslint (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'lint', '--fix']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx)$

chore: implementação de testes
  backend/.env.test
  backend/Makefile
  backend/internal/domain/models.go
  backend/internal/repository/repository_test.go
  backend/internal/service/main_test.go
  docker-compose.coverage.yml
Due: backend-gofmt

feat: Implement frontend product and sales pages, and backoffice CRUD for tenants and users
  backoffice/src/pages/tenants/TenantForm.tsx
  backoffice/src/pages/tenants/TenantListPage.tsx
  backoffice/src/pages/users/UserForm.tsx
  backoffice/src/pages/users/UserListPage.tsx
  backoffice/src/router.tsx
  backoffice/src/types/api.d.ts
  docs/api.yaml
  frontend/src/pages/products/ProductForm.tsx
  frontend/src/pages/products/ProductListPage.tsx
  frontend/src/pages/sales/SaleForm.tsx
  frontend/src/pages/sales/SaleListPage.tsx
  frontend/src/routes/AppRouter.tsx
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

feat: Implement backoffice CRUD for products, services, sales and appointments
  backoffice/src/pages/appointments/AppointmentForm.tsx
  backoffice/src/pages/appointments/AppointmentListPage.tsx
  backoffice/src/pages/products/ProductForm.tsx
  backoffice/src/pages/products/ProductListPage.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleListPage.tsx
  backoffice/src/pages/services/ServiceForm.tsx
  backoffice/src/pages/services/ServiceListPage.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

chore: release main
  .release-please-manifest.json
  backoffice/backoffice/CHANGELOG.md
  backoffice/package.json
  frontend/frontend/CHANGELOG.md
  frontend/package.json
Due: frontend-format, frontend-format-check, backoffice-format, backoffice-format-check

fix: Fix TypeScript errors in DashboardPage and form components
  backoffice/src/pages/DashboardPage.tsx
  backoffice/src/pages/appointments/AppointmentForm.tsx
  backoffice/src/pages/appointments/AppointmentFormWrapper.tsx
  backoffice/src/pages/clients/ClientFormWrapper.tsx
  backoffice/src/pages/products/ProductFormWrapper.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleFormWrapper.tsx
  backoffice/src/pages/services/ServiceFormWrapper.tsx
  backoffice/src/pages/tenants/TenantFormWrapper.tsx
  backoffice/src/pages/users/UserForm.tsx
  backoffice/src/pages/users/UserFormWrapper.tsx
  backoffice/src/router.tsx
  frontend/src/pages/dashboard/DashboardPage.tsx
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

fix(frontend): Correct Grid component usage in DashboardPage
  frontend/src/pages/dashboard/DashboardPage.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

fix(backoffice): Correct Grid component usage in DashboardPage
  backoffice/src/pages/DashboardPage.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

fix(api): Remove example property from parameter definitions
  docs/api.yaml
Due: none

fix(frontend): Fix linting errors in product and sales pages
  frontend/src/pages/products/ProductForm.tsx
  frontend/src/pages/products/ProductListPage.tsx
  frontend/src/pages/sales/SaleListPage.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

fix(backoffice): Fix linting errors in form components and wrappers
  backoffice/src/pages/appointments/AppointmentForm.tsx
  backoffice/src/pages/appointments/AppointmentFormWrapper.tsx
  backoffice/src/pages/clients/ClientFormWrapper.tsx
  backoffice/src/pages/products/ProductFormWrapper.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleFormWrapper.tsx
  backoffice/src/pages/services/ServiceFormWrapper.tsx
  backoffice/src/pages/tenants/TenantFormWrapper.tsx
  backoffice/src/pages/users/UserForm.tsx
  backoffice/src/pages/users/UserFormWrapper.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

feat(frontend): Refatorar SnackbarContext para Fast Refresh
  frontend/src/contexts/SnackbarProvider.tsx
  frontend/src/contexts/useSnackbar.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

feat(backoffice): Refatorar SnackbarContext para Fast Refresh
  backoffice/src/contexts/SnackbarProvider.tsx
  backoffice/src/contexts/useSnackbar.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

feat(all): Implementar Zod e Zustand
  backoffice/package.json
  backoffice/src/schemas/index.ts
  backoffice/src/schemas/user.ts
  backoffice/src/store/auth.ts
  backoffice/src/store/index.ts
  docs/STATE_AND_VALIDATION_PLAN.md
  frontend/package.json
  frontend/src/schemas/index.ts
  frontend/src/schemas/user.ts
  frontend/src/store/auth.ts
  frontend/src/store/index.ts
  pnpm-lock.yaml
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

docs(tooling): Adicionar sugestões de ferramentas
  docs/TOOLING_SUGGESTIONS.md
Due: none

feat(all): Implementar sugestões de ferramentas (exceto i18n e Storybook)
  backoffice/package.json
  backoffice/src/components/ExampleCalendar.tsx
  backoffice/src/components/ExampleChart.tsx
  backoffice/src/components/ExampleTable.tsx
  backoffice/vite.config.ts
  frontend/package.json
  frontend/src/components/ExampleCalendar.tsx
  frontend/src/components/ExampleChart.tsx
  frontend/src/components/ExampleTable.tsx
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

docs(storybook): Adicionar guia de instalação manual
  docs/INSTALL_STORYBOOK.md
Due: none

chore: build frontend e backoffce
  backoffice/package.json
  backoffice/src/components/ExampleCalendar.tsx
  backoffice/src/hooks/useSnackbar.ts
  backoffice/src/main.tsx
  backoffice/src/pages/appointments/AppointmentForm.tsx
  backoffice/src/pages/appointments/AppointmentListPage.tsx
  backoffice/src/pages/clients/ClientListPage.tsx
  backoffice/src/pages/products/ProductListPage.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleListPage.tsx
  backoffice/src/pages/services/ServiceListPage.tsx
  backoffice/src/pages/tenants/TenantListPage.tsx
  backoffice/src/pages/users/UserForm.tsx
  backoffice/src/pages/users/UserListPage.tsx
  backoffice/src/types/api.d.ts
  backoffice/vite.config.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ExampleCalendar.tsx
  frontend/src/hooks/useSnackbar.ts
  pnpm-lock.yaml
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

chore: build frontend e backoffce
  backoffice/src/components/ExampleCalendar.tsx
  frontend/src/components/ExampleCalendar.tsx
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

chore: build frontend e backoffce
  frontend/src/components/ExampleCalendar.tsx
  frontend/src/test/setup.ts
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: frontend-format, frontend-format-check, frontend-eslint

chore: build frontend e backoffce
  frontend/src/App.test.tsx
  frontend/src/pages/clients/ClientForm.test.tsx
  frontend/src/pages/clients/ClientListPage.test.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Due: none

fix: backoffice/Dockerfile to reduce vulnerabilities
  backoffice/Dockerfile
Due: none

fix: frontend/Dockerfile to reduce vulnerabilities
  frontend/Dockerfile
Due: none
