Repository kusmin/gestao_updev: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: backend-gofmt
        name: gofmt (backend)
        entry: gofmt
        language: system
        files: ^backend/.*\.go$
        args: ['-w']

      - id: backend-golangci-lint
        name: golangci-lint (backend)
        entry: bash
        args:
          - -c
          - |
            cd backend && golangci-lint run --config .golangci.yml ./...
        language: system
        pass_filenames: false
        files: ^backend/

      - id: frontend-format
        name: format (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'format']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: frontend-format-check
        name: format:check (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'format:check']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: frontend-eslint
        name: eslint (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'lint']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: backoffice-format
        name: format (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'format']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: backoffice-format-check
        name: format:check (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'format:check']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

      - id: backoffice-eslint
        name: eslint (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'lint']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx)$

chore: release main
  .release-please-manifest.json
  backend/backend/CHANGELOG.md
  backoffice/backoffice/CHANGELOG.md
  backoffice/package.json
  frontend/frontend/CHANGELOG.md
  frontend/package.json
Due: backend-golangci-lint, frontend-format, frontend-format-check, backoffice-format, backoffice-format-check

Potential fix for code scanning alert no. 1: Clear-text logging of sensitive information
  backoffice/src/pages/LoginPage.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

feature: expandir os testes
  Makefile
  backend/cmd/migrate/main.go
  backend/cmd/seed/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/http/handler/users_handler_test.go
  backend/internal/http/response/response_test.go
  backend/internal/server/server_test.go
  backend/internal/service/auth_test.go
  backend/internal/service/company_service.go
  backend/internal/service/company_service_test.go
  backend/internal/service/users_test.go
  backend/internal/testutil/random.go
  backoffice/package.json
  backoffice/src/pages/DashboardPage.tsx
  backoffice/src/pages/products/ProductForm.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/services/ServiceForm.tsx
  backoffice/src/types/product.ts
  backoffice/src/types/sales.ts
  backoffice/src/types/service.ts
  docs/dredd-hooks-expansion.md
  docs/marketing-plan.md
  frontend/package.json
  package-lock.json
  scripts/mcp-server.js
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, backoffice-format, backoffice-format-check, backoffice-eslint

feature: expandir os testes
  .github/workflows/api-contract.yml
  .github/workflows/api-spec.yml
  .github/workflows/backoffice-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/snyk.yml
  .tool-versions
  Makefile
  backend/docs/swagger.json
  backend/internal/service/company_service.go
  backoffice/package.json
  docs/analise-gerenciadores-pacotes-js.md
  docs/frontend-routing-plan.md
  docs/workflow-analysis-and-suggestions.md
  frontend/package.json
  package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package-lock.json
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, backoffice-format, backoffice-format-check

feature: expandir os testes
  .github/workflows/api-contract.yml
  .github/workflows/api-spec.yml
  .github/workflows/backoffice-ci.yml
  package.json
Due: none

fix: correção
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  backend/docs/swagger.json
  docs/dredd-hooks-expansion.md
  scripts/hooks/npm-run-if-package.sh
Due: backend-golangci-lint

fix: correção
  Makefile
Due: none

fix(pre-commit): Ajusta hooks e gitignore para backoffice e frontend
  .pre-commit-config.yaml
  backoffice/backoffice/CHANGELOG.md
  frontend/.gitignore
  scripts/hooks/npm-run-if-package.sh
Due: backoffice-format, backoffice-format-check

revert(pre-commit): Desabilita hooks do backoffice temporariamente
  Makefile
  scripts/hooks/npm-run-if-package.sh
Due: none

fix(pre-commit): Corrige hooks do backoffice e frontend
  .pre-commit-config.yaml
  .prettierignore
  backoffice/src/components/ProtectedRoute.test.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

fix: correção de testes
  backend/internal/middleware/tenant_test.go
  backend/internal/service/company_service_test.go
Due: backend-gofmt, backend-golangci-lint

fix: correção CI/CD
  backend/docs/swagger.json
  backend/internal/http/handler/bookings.go
  backend/internal/http/handler/clients.go
  docs/api.yaml
  tests/dredd/hooks/basic-flow.js
Due: backend-gofmt, backend-golangci-lint

fix: correção CI/CD
  backend/internal/http/handler/catalog.go
Due: backend-gofmt, backend-golangci-lint

chore: release main
  .release-please-manifest.json
  backend/backend/CHANGELOG.md
Due: backend-golangci-lint

chore: correção CI/CD do contrato
  .github/workflows/backend-ci.yml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/service/main_test.go
  backend/internal/service/users_test.go
  backoffice/src/types/api.d.ts
  docs/api.yaml
  tests/dredd/hooks/basic-flow.js
Due: backend-gofmt, backend-golangci-lint, backoffice-format, backoffice-format-check, backoffice-eslint

chore: correção CI/CD do contrato
  .github/workflows/api-contract.yml
  .github/workflows/api-spec.yml
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/internal/config/config.go
  backend/internal/server/server.go
  backend/internal/service/main_test.go
  docs/api.yaml
Due: backend-gofmt, backend-golangci-lint

chore: implementação de paginas do frontend
  backend/internal/service/bookings_test.go
  backoffice/package.json
  backoffice/public/apple-touch-icon.png
  backoffice/public/favicon.ico
  backoffice/public/masked-icon.svg
  backoffice/public/pwa-192x192.png
  backoffice/public/pwa-512x512.png
  backoffice/src/main.tsx
  backoffice/vite.config.ts
  docs/frontend-pages-plan.md
  docs/pwa-e2e-testing.md
  docs/pwa-implementation.md
  frontend/package.json
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
  frontend/public/masked-icon.svg
  frontend/public/pwa-192x192.png
  frontend/public/pwa-512x512.png
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/lib/theme.ts
  frontend/src/main.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/auth/SignupPage.tsx
  frontend/src/pages/dashboard/DashboardPage.tsx
  frontend/src/routes/AppRouter.tsx
  frontend/src/theme/ColorModeProvider.tsx
  frontend/vite.config.ts
  pnpm-lock.yaml
  tests/e2e/tests/pwa.spec.ts
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

chore: implementação de paginas do frontend
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/routing/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/apiClient.test.ts
  frontend/src/lib/apiClient.ts
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/auth/SignupPage.tsx
  frontend/src/pages/clients/ClientForm.test.tsx
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/clients/ClientListPage.test.tsx
  frontend/src/pages/clients/ClientListPage.tsx
  frontend/src/routes/AppRouter.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  backend/internal/config/config.go
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/AuthContextDefinition.ts
  frontend/src/contexts/authUtils.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useColorMode.ts
  frontend/src/pages/auth/SignupPage.tsx
  frontend/src/pages/clients/ClientForm.test.tsx
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/clients/ClientListPage.tsx
  frontend/src/theme/ColorModeContextDefinition.ts
  frontend/src/theme/ColorModeProvider.tsx
  frontend/src/theme/utils.ts
  frontend/src/utils/constants.ts
  tests/GEMINI.md
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  docs/api.yaml
  frontend/src/contexts/AuthContext.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  frontend/src/theme/ColorModeProvider.tsx
  frontend/src/theme/useColorMode.ts
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  frontend/src/App.test.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/clients/ClientForm.test.tsx
  frontend/src/pages/clients/ClientListPage.test.tsx
  frontend/src/theme/ColorModeProvider.tsx
  frontend/src/theme/utils.ts
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/useAuth.ts
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  frontend/src/components/routing/ProtectedRoute.tsx
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/clients/ClientListPage.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  backend/internal/http/response/response_test.go
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/AuthContextDefinition.ts
  frontend/src/contexts/useAuth.ts
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/auth/SignupPage.tsx
  frontend/src/theme/ColorModeProvider.tsx
  frontend/src/theme/useColorMode.ts
  frontend/tsconfig.app.json
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  .github/workflows/backend-ci.yml
  docs/api.yaml
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/authUtils.ts
  frontend/src/contexts/useAuth.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useColorMode.ts
  frontend/src/lib/apiClient.ts
  frontend/src/theme/ColorModeProvider.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de paginas do frontend
  Makefile
  backend/Makefile
  backend/internal/config/config.go
Due: backend-gofmt, backend-golangci-lint

chore: implementação de paginas do frontend
  .github/workflows/backend-ci.yml
  .github/workflows/pre-commit.yml
  docker-compose.test.yml
Due: none

fix(deps): update pnpm-lock.yaml to fix CI error
  pnpm-lock.yaml
Due: none

fix(ci): update golangci-lint configuration and version
  .github/workflows/backend-ci.yml
  backend/.golangci.yml
Due: backend-golangci-lint

feat(core): implement snackbar notification system
  backoffice/src/contexts/SnackbarContext.tsx
  backoffice/src/hooks/useSnackbar.ts
  backoffice/src/main.tsx
  docs/snackbar-notifications.md
  frontend/src/App.tsx
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/hooks/useSnackbar.ts
  frontend/src/pages/sales/SaleForm.tsx
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

feat(frontend): add snackbar feedback to forms
  frontend/src/pages/appointments/AppointmentForm.tsx
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/products/ProductForm.tsx
  frontend/src/pages/sales/SaleForm.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação do snackbar
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/clients/ClientListPage.tsx
Due: frontend-format, frontend-format-check, frontend-eslint

chore: implementação de testes
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/internal/config/config.go
  backend/internal/service/bookings_test.go
  backend/internal/service/catalog_test.go
  backend/internal/service/clients_test.go
  backend/internal/service/main_test.go
  backend/pkg/telemetry/telemetry_test.go
  backoffice/package.json
  docs/api.yaml
  frontend/package.json
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, backoffice-format, backoffice-format-check
