Repository kusmin/gestao_updev: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

backend-gofmt:
  name: gofmt (backend)
  entry: gofmt
  language: system
  args:
  - -w

backend-golangci-lint:
  name: golangci-lint (backend)
  entry: bash
  args:
  - -c
  - 'cd backend && golangci-lint run --config .golangci.yml ./...
  
    '
  language: system
  pass_filenames: false

frontend-format:
  name: format (frontend)
  entry: scripts/hooks/npm-run-if-package.sh
  args:
  - frontend
  - format
  language: system
  pass_filenames: false

frontend-format-check:
  name: format:check (frontend)
  entry: scripts/hooks/npm-run-if-package.sh
  args:
  - frontend
  - format:check
  language: system
  pass_filenames: false

frontend-eslint:
  name: eslint (frontend)
  entry: scripts/hooks/npm-run-if-package.sh
  args:
  - frontend
  - lint
  language: system
  pass_filenames: false

backoffice-format:
  name: format (backoffice)
  entry: scripts/hooks/npm-run-if-package.sh
  args:
  - backoffice
  - format
  language: system
  pass_filenames: false

backoffice-format-check:
  name: format:check (backoffice)
  entry: scripts/hooks/npm-run-if-package.sh
  args:
  - backoffice
  - format:check
  language: system
  pass_filenames: false

backoffice-eslint:
  name: eslint (backoffice)
  entry: scripts/hooks/npm-run-if-package.sh
  args:
  - backoffice
  - lint
  language: system
  pass_filenames: false

melhorias ci/cd
  .github/workflows/backend-ci.yml
  .github/workflows/pre-commit.yml
  backend/internal/auth/GEMINI.md
  backend/internal/http/handler/users_handler_test.go
  backend/internal/service/GEMINI.md
  docs/GEMINI.md
  tests/dredd/dredd.yml
Due: backend-gofmt, backend-golangci-lint

test: add coverage for service helpers
  backend/internal/service/service_internal_test.go
Due: backend-gofmt, backend-golangci-lint

test: cover catalog service flows
  backend/internal/service/catalog_test.go
Due: backend-gofmt, backend-golangci-lint

melhorias ci/cd
  backend/internal/http/handler/users_handler_test.go
  backoffice/package.json
  frontend/src/pages/clients/ClientListPage.test.tsx
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check

fix(ci): resolve multiple CI failures
  .github/workflows/backend-ci.yml
  backend/internal/http/handler/users_handler_test.go
  backend/internal/service/catalog_test.go
  frontend/src/pages/clients/ClientListPage.test.tsx
  package-lock.json
  tests/dredd/dredd.yml
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint

feat(coverage): add code coverage configuration
  Makefile
  backend/Makefile
  docs/plano-cobertura-codigo.md
Due: backend-golangci-lint

implementação de e2e
  docs/coverage-history/2025-11-14/README.md
  docs/coverage-history/2025-11-14/e2e.md
  docs/plano-cobertura-codigo.md
  tests/e2e/playwright.config.ts
  tests/e2e/tests/backoffice/example.spec.ts
  tests/e2e/tests/frontend/example.spec.ts
Due: none

fix: handle invalid otel resource attributes
  backend/pkg/telemetry/telemetry.go
  backend/pkg/telemetry/telemetry_test.go
Due: backend-gofmt, backend-golangci-lint

Fix telemetry resource initialization
  backend/pkg/telemetry/telemetry.go
  backend/pkg/telemetry/telemetry_test.go
Due: backend-gofmt, backend-golangci-lint

test(backoffice): improve coverage for auth and layout
  backoffice/src/components/Layout.test.tsx
  backoffice/src/components/ProtectedRoute.test.tsx
  backoffice/src/contexts/AuthContext.test.tsx
Due: backoffice-format, backoffice-format-check, backoffice-eslint

implementação de testes
  .env.example
  backend/cmd/api/main.go
  backend/coverage.html
  backend/internal/auth/jwt_test.go
  backend/internal/http/contextutil/context_test.go
  backend/internal/service/booking_helpers_test.go
  backend/internal/service/bookings_test.go
  backend/internal/service/catalog_test.go
  backend/internal/service/clients_test.go
  backend/internal/service/users_test.go
  backend/service.cover.out
  backoffice/index.html
  backoffice/src/main.tsx
  docs/MONITORING.md
  docs/PROJECT_STATUS.md
  docs/SUGGESTIONS.md
  docs/WORKFLOWS.md
  frontend/index.html
  frontend/src/main.tsx
Due: backend-gofmt, backend-golangci-lint, frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

fix: Configure golangci-lint as a separate CI step and fix pre-commit hooks
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

fix: Use npm ci for frontend and backoffice dependencies
  .github/workflows/pre-commit.yml
Due: none

fix(frontend): Temporarily disable Sentry due to React 19 incompatibility and fix gtag types
  frontend/src/main.tsx
  frontend/src/types/global.d.ts
Due: frontend-format, frontend-format-check, frontend-eslint

implementação de pre-commit
  backoffice/src/contexts/AuthContext.tsx
  backoffice/src/lib/apiClient.ts
  backoffice/src/main.tsx
  backoffice/src/pages/DashboardPage.tsx
  backoffice/src/pages/products/ProductForm.tsx
  backoffice/src/pages/products/ProductListPage.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleListPage.tsx
  backoffice/src/pages/services/ServiceForm.tsx
  backoffice/src/pages/services/ServiceListPage.tsx
  backoffice/src/types/api.d.ts
  backoffice/tsconfig.app.json
  backoffice/vite.config.ts
Due: backoffice-format, backoffice-format-check, backoffice-eslint

ajuste ci/cd
  .github/workflows/backend-ci.yml
  .github/workflows/e2e.yml
  backend/cmd/api/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/server/server.go
  backend/internal/service/main_test.go
  backend/pkg/telemetry/telemetry.go
  package-lock.json
  package.json
Due: backend-gofmt, backend-golangci-lint

ajuste ci/cd
  .github/workflows/e2e.yml
  frontend/src/main.tsx
  frontend/src/types/global.d.ts
Due: frontend-format, frontend-format-check, frontend-eslint

fix(frontend): add missing typescript-eslint dependency
  frontend/package.json
  package-lock.json
Due: frontend-format, frontend-format-check

ajuste ci/cd
  backend/internal/service/inventory_test.go
  backend/internal/service/main_test.go
  backoffice/src/pages/products/ProductForm.tsx
  backoffice/src/pages/products/ProductListPage.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleListPage.tsx
  backoffice/src/pages/services/ServiceForm.tsx
  backoffice/src/pages/services/ServiceListPage.tsx
  backoffice/tsconfig.app.json
  backoffice/vite.config.ts
  tests/dredd/dredd.yml
Due: backend-gofmt, backend-golangci-lint, backoffice-format, backoffice-format-check, backoffice-eslint

chore: release main
  .release-please-manifest.json
  backend/backend/CHANGELOG.md
  backoffice/backoffice/CHANGELOG.md
  backoffice/package.json
  frontend/frontend/CHANGELOG.md
  frontend/package.json
Due: backend-golangci-lint, frontend-format, frontend-format-check, backoffice-format, backoffice-format-check

ci(frontend): use npm ci for installing dependencies
  .github/workflows/frontend-ci.yml
Due: none

adjust migration ci/cd
  backend/migrations/0006_sales_payment_type.down.sql
  backend/migrations/0006_sales_payment_type.up.sql
Due: backend-golangci-lint

adjust migration ci/cd
  tests/dredd/dredd.yml
Due: none

adjust clients_test.go
  backend/internal/service/clients_test.go
Due: backend-gofmt, backend-golangci-lint

adjust configurations
  .spectral.yaml
  tests/dredd/dredd.yml
Due: none

adjust main e dred
  backend/cmd/api/main.go
  tests/dredd/dredd.yml
Due: backend-gofmt, backend-golangci-lint

adjust testes go
  .github/workflows/backend-ci.yml
  backend/internal/service/main_test.go
  tests/dredd/dredd.yml
Due: backend-gofmt, backend-golangci-lint

feature: add version Makefile
  .github/workflows/backend-ci.yml
  .github/workflows/pre-commit.yml
  Makefile
  tests/dredd/dredd.yml
Due: none

feature: add snyk validation
  .github/workflows/backend-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/snyk.yml
  Makefile
  scripts/run_dredd_server.sh
Due: none

feature: add snyk validation
  tests/dredd/dredd.yml
Due: none

feature: add teste aumentar o coverage
  .github/workflows/backend-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/snyk.yml
  backend/internal/service/auth_test.go
  backoffice/package.json
  backoffice/src/components/ResourceListPage/ResourceListPage.test.tsx
  backoffice/src/components/ResourceListPage/index.tsx
  backoffice/src/pages/products/ProductForm.tsx
  backoffice/src/pages/products/ProductListPage.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/sales/SaleListPage.tsx
  backoffice/src/pages/services/ServiceForm.tsx
  backoffice/src/pages/services/ServiceListPage.tsx
  docs/CODE_STANDARDS.md
  docs/DEVELOPMENT.md
  docs/api-reference.md
  docs/padroes-codigo.md
  package-lock.json
Due: backend-gofmt, backend-golangci-lint, backoffice-format, backoffice-format-check, backoffice-eslint

docs: Atualiza e expande a documentação existente
  docs/PROJECT_STATUS.md
  docs/README.md
  docs/multi-tenancy.md
Due: none

feature: add teste aumentar o coverage
  README.md
  docs/PROJECT_STATUS.md
  docs/api-evolution-suggestions.md
  docs/workflow-analysis-and-suggestions.md
  frontend/src/lib/apiClient.test.ts
  frontend/src/pages/clients/ClientForm.test.tsx
  tests/e2e/tests/frontend/example.spec.ts
Due: frontend-format, frontend-format-check, frontend-eslint

feature: melhorias no workflows
  .github/workflows/api-contract.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend-build.yml
  .github/workflows/pre-commit.yml
  .github/workflows/snyk.yml
  AGENTS.md
  Makefile
  docker-compose.e2e.yml
Due: none

feature: melhorias no workflows
  .env.test
  .github/workflows/api-contract.yml
  Makefile
  README.md
  backoffice/eslint.config.js
  backoffice/package.json
  backoffice/src/components/ResourceListPage/ResourceListPage.test.tsx
  backoffice/src/components/ResourceListPage/index.tsx
  backoffice/src/contexts/AuthContext.tsx
  backoffice/src/lib/apiClient.ts
  backoffice/src/pages/products/ProductForm.tsx
  backoffice/src/pages/sales/SaleForm.tsx
  backoffice/src/pages/services/ServiceForm.tsx
  backoffice/src/types/api.d.ts
  backoffice/tsconfig.app.json
  backoffice/tsconfig.base.json
  backoffice/tsconfig.json
  backoffice/tsconfig.node.json
  backoffice/tsconfig.vitest.json
  docs/PROJECT_STATUS.md
  docs/api.yaml
  docs/cache-analysis.md
  docs/notification-system-analysis.md
  docs/notification-system-comparison.md
  docs/redis-integration-plan.md
  docs/testing-guide.md
  frontend/eslint.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  tests/dredd/dredd.yml
Due: frontend-format, frontend-format-check, frontend-eslint, backoffice-format, backoffice-format-check, backoffice-eslint

fix: frontend/Dockerfile to reduce vulnerabilities
  frontend/Dockerfile
Due: none

feature: melhorias no workflows
  .env.test
  .github/workflows/backend-ci.yml
  .github/workflows/backoffice-ci.yml
  backend/Makefile
  backend/internal/http/response/response.go
  backoffice/Dockerfile
  docker-compose.e2e.yml
  docs/PROJECT_STATUS.md
  docs/security-scan.md
  tests/dredd/hooks/basic-flow.js
Due: backend-gofmt, backend-golangci-lint

Path conditions:
  backend-gofmt: any of: ^backend/.*\.go$
  backend-golangci-lint: any of: ^backend/
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  frontend-format-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backoffice-format: any of: ^backoffice/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  backoffice-format-check: any of: ^backoffice/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  backoffice-eslint: any of: ^backoffice/.*\.(ts|tsx|js|jsx)$
