Repository kusmin/gestao_updev: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-gofmt, backend-golangci-lint, frontend-eslint, backoffice-eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        name: prettier (frontend/backoffice)
        files: >-
          ^(frontend|backoffice)/.*\.(ts|tsx|js|jsx|json|css|scss|md)$

  - repo: local
    hooks:
      - id: backend-gofmt
        name: gofmt (backend)
        entry: gofmt
        language: system
        files: ^backend/.*\.go$
        args: ['-w']

      - id: backend-golangci-lint
        name: golangci-lint (backend)
        entry: bash
        args:
          - -c
          - |
            cd backend && golangci-lint run --config .golangci.yml ./...
        language: system
        pass_filenames: false
        files: ^backend/

      - id: frontend-eslint
        name: eslint (frontend)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['frontend', 'lint']
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: backoffice-eslint
        name: eslint (backoffice)
        entry: scripts/hooks/npm-run-if-package.sh
        args: ['backoffice', 'lint']
        language: system
        pass_filenames: false
        files: ^backoffice/.*\.(ts|tsx|js|jsx)$

commit inicial
  .github/dependabot.yml
  .github/workflows/backend-ci.yml
  .spectral.yaml
  backend/Makefile
  backend/internal/config/config.go
  docker-compose.test.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/vite.config.ts
Due: backend-gofmt, backend-golangci-lint, frontend-eslint

commit inicial
  docs/api-reference.md
  docs/api.yaml
  docs/mcp-tools.md
  docs/tests-contrato.md
  scripts/mcp-server.js
  tests/dredd/hooks/basic-flow.js
Due: none

docs: add security review findings
  docs/security-review.md
Due: none

feat(ui): implement initial client pages for backoffice and frontend
  backoffice/package.json
  backoffice/src/App.tsx
  backoffice/src/pages/clients/ClientForm.tsx
  backoffice/src/pages/clients/ClientListPage.tsx
  frontend/src/App.tsx
  frontend/src/lib/apiClient.ts
  frontend/src/pages/clients/ClientListPage.tsx
  package-lock.json
Due: frontend-eslint, backoffice-eslint

commit inicial
  .env.example
  .github/codeql/codeql-config.yml
  .github/workflows/backend-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/publish-docker.yml
  backend/cmd/api/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/config/config_test.go
  backend/internal/middleware/logging.go
  backend/internal/middleware/logging_test.go
  backend/internal/server/server.go
  backend/internal/server/server_test.go
  backend/internal/service/bookings.go
  backend/internal/service/inventory.go
  backend/internal/service/sales.go
  backend/internal/service/service.go
  backend/internal/service/tenant_validation_test.go
  backend/migrations/0005_multitenant_constraints.down.sql
  backend/migrations/0005_multitenant_constraints.up.sql
  backend/pkg/telemetry/telemetry.go
  backoffice/src/pages/clients/ClientListPage.tsx
  docker-compose.yml
  docker/otel-collector-config.yaml
  docs/CICD.md
  docs/authentication.md
  docs/observabilidade.md
  docs/security-review.md
  frontend/src/lib/apiClient.ts
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/clients/ClientListPage.tsx
Due: backend-gofmt, backend-golangci-lint, frontend-eslint, backoffice-eslint

commit inicial
  backend/Dockerfile
Due: backend-golangci-lint

commit inicial
  .github/workflows/backend-ci.yml
  .github/workflows/codeql.yml
  docker-compose.test.yml
  docs/api.yaml
Due: none

commit inicial
  .github/workflows/api-contract.yml
  Makefile
  frontend/scripts/generate-types.mjs
  tests/dredd/dredd.yml
Due: none

commit inicial
  .github/workflows/api-contract.yml
  .github/workflows/codeql.yml
  Makefile
Due: none

commit inicial
  .env.test
  .github/workflows/api-contract.yml
  .github/workflows/e2e.yml
  .github/workflows/release-please.yml
  Makefile
  backend/CHANGELOG.md
  backoffice/CHANGELOG.md
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-types.mjs
  release-please-config.json
  release-please-manifest.json
Due: backend-golangci-lint

commit inicial
  .github/workflows/release-please.yml
  frontend/src/lib/apiClient.ts
  frontend/src/pages/clients/ClientForm.tsx
  frontend/src/pages/clients/ClientListPage.tsx
  package-lock.json
  release-please-config.json
  release-please-manifest.json
Due: frontend-eslint

commit inicial
  backend/go.mod
  backend/go.sum
Due: backend-golangci-lint

commit inicial
  .env.test
  .github/workflows/api-contract.yml
  Makefile
  backend/internal/auth/jwt.go
  backend/internal/config/config.go
Due: backend-gofmt, backend-golangci-lint

commit inicial
  .release-please-config.json
  .release-please-manifest.json
  backend/go.work
Due: backend-golangci-lint

chore: ajuste ci/cd
  .env.test
  .github/workflows/backend-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release-please.yml
Due: none

chore: ajuste ci/cd
  .github/workflows/release-please.yml
Due: none

commit inicial
  docker-compose.yml
Due: none

commit inicial
  .github/workflows/release-please.yml
Due: none

commit inicial
  .github/workflows/publish-docker.yml
Due: none

commit inicial
  .github/workflows/release-please.yml
  .release-please-config.json
Due: none

commit inicial
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/pre-commit.yml
  docs/CICD.md
Due: none

chore: release main
  .release-please-manifest.json
  backoffice/backoffice/CHANGELOG.md
  backoffice/package-lock.json
  backoffice/package.json
  frontend/frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: none

commit inicial
  .github/workflows/api-spec.yml
  .github/workflows/pre-commit.yml
  GEMINI.md
  backend/internal/http/handler/catalog.go
  backend/internal/http/handler/users.go
  backend/internal/server/server.go
  backend/internal/service/catalog.go
  backend/internal/service/users.go
  docs/USANDO_IMAGENS_DOCKER.md
  docs/api.yaml
  frontend/eslint.config.js
  frontend/src/pages/clients/ClientForm.tsx
Due: backend-gofmt, backend-golangci-lint, frontend-eslint

commit inicial
  .github/workflows/e2e.yml
  .github/workflows/pre-commit.yml
  frontend/package-lock.json
  package-lock.json
Due: none

commit inicial
  .github/workflows/api-spec.yml
  .spectral.yaml
  backend/internal/service/catalog_test.go
  backend/internal/service/main_test.go
  backend/internal/service/users_test.go
  docs/ANALISE_API.md
  frontend/src/App.test.tsx
  package-lock.json
  package.json
Due: backend-gofmt, backend-golangci-lint, frontend-eslint

commit inicial
  .github/workflows/api-contract.yml
  .github/workflows/pre-commit.yml
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  docs/api.yaml
  frontend/src/App.test.tsx
  frontend/vite.config.ts
Due: backend-gofmt, backend-golangci-lint, frontend-eslint

commit inicial
  .gemini/settings.json
  .github/workflows/e2e.yml
  .grok/settings.json
  backend/GEMINI.md
  backend/cmd/seed/main.go
  backend/docs/swagger.json
  backend/internal/domain/models.go
  backend/internal/service/dashboard.go
  backoffice/eslint.config.js
  backoffice/package-lock.json
  backoffice/package.json
  backoffice/public/vite.svg
  backoffice/src/pages/clients/ClientListPage.tsx
  docs/README.md
  docs/tests-contrato.md
  frontend/AGENTS.md
  frontend/src/App.tsx
  frontend/src/types/.gitkeep
  tests/e2e/playwright.config.ts
  tests/postman/collection.json
Due: backend-gofmt, backend-golangci-lint, frontend-eslint, backoffice-eslint

commit inicial
  .github/workflows/api-contract.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

commit inicial
  .github/workflows/api-contract.yml
  backoffice/package.json
  backoffice/src/pages/clients/ClientForm.tsx
  backoffice/src/pages/clients/ClientListPage.tsx
  package-lock.json
Due: backoffice-eslint

commit inicial
  .github/workflows/api-contract.yml
Due: none

correction vite.config.ts
  frontend/vite.config.ts
Due: frontend-eslint

correction vite.config.ts
  .github/workflows/frontend-ci.yml
  frontend/vite.config.ts
Due: frontend-eslint

correction ci/cd
  .github/workflows/e2e.yml
  .github/workflows/frontend-ci.yml
Due: none

correction ci/cd
  .gitignore
  backend/internal/service/main_test.go
  codecov.yml
  frontend/package.json
  package-lock.json
Due: backend-gofmt, backend-golangci-lint

correction ci/cd
  .github/workflows/pre-commit.yml
  backend/.golangci.yml
  backend/Makefile
  backend/internal/service/catalog_test.go
  backend/internal/service/main_test.go
  backend/internal/service/users_test.go
Due: backend-gofmt, backend-golangci-lint

correction ci/cd
  .github/workflows/pre-commit.yml
  backend/Makefile
  backend/internal/domain/models.go
  backend/migrations/0001_init.up.sql
  tests/dredd/dredd.yml
Due: backend-gofmt, backend-golangci-lint

melhorias ci/cd
  .github/workflows/backend-ci.yml
  .github/workflows/pre-commit.yml
  tests/dredd/dredd.yml
Due: none

melhorias ci/cd
  .github/workflows/api-contract.yml
  .github/workflows/pre-commit.yml
  tests/dredd/dredd.yml
Due: none

melhorias ci/cd
  backend/cmd/api/GEMINI.md
  docs/TESTING_AND_SECURITY_PLAN.md
Due: backend-golangci-lint
